
.castle1-container {
    position: absolute;
}

.castle2-container {
    position: absolute;
    left: 80vw;
}

.ground-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh;
}

.turn-data {
    position: absolute;
    left: 45vw;
}

.castle1 {
    height: 300px;
}

.castle2 {
    height: 300px;
}

.ground {
    width: 1200px;
    height: 350px;
}

.player1-container {
    position: absolute;
    top: 33vh;
    left: 1vw;
}

.player2-container {
    position: absolute;
    top: 33vh;
    left: 83vw;
}

.units-trained {
    background: rgba(128, 128, 128, 0.356);
    height: 30vh;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
}

.unit-select {
    background: rgba(128, 128, 128, 0.356);
    height: 30vh;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
}

.unit-grid {
    padding-left: 20px;
}

.unit-image {
    height: 50px;
    width: 50px;
    max-width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

#dwarf {
    position: absolute;
    left: 10vw;
    bottom: 7.6vw;
}

#dwarven-lord {
    position: absolute;
    left: 10vw;
    bottom: 3.2vw;

}

.button {
    position: absolute;
    left: 45%;
    bottom: 20%;
    height: 50px;
    width: 200px;
    border-radius: 10px;
}

#high-elf {
    position: absolute;
    left: 5vw;
    bottom: 0.2vw;

}

